.banner{
  font-size: 10em;
  height: 10em;
  width: 100%;
  margin: 2em;
  text-align: center;
}
.board{
  height: auto;
  width: 100%;
}

.container{
  background-color:#EEEEEE;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
